@model WebApp.Models.ReadingViewModel;

@{
    string? action = ViewData["Action"] as string;
    List<SelectListItem> types = ViewData["Types"] as List<SelectListItem> ?? new();
}

<form class="floating-labels" method="POST" action="@Url.Action(action,"Reading")" asp-antiforgery="true">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label for="Name">Nombre</label>
        <input class="form-control mb-3" id="Name" asp-for="Name">

        <label for="Date">Fecha</label>
        <input type="datetime-local" class="form-control mb-3" id="Date" asp-for="Date">

        <label for="ReadingEnum">Tipo de lectura</label>
        <select class="form-control mb-3" id="ReadingEnum" asp-for="ReadingEnum">
            @foreach (SelectListItem item in types)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>

        <label for="Text">Lectura</label>
        <textarea class="form-control mb-3" rows="15" id="Text" asp-for="Text"></textarea>
    </div>

    <div class="d-flex justify-content-end buttonFooter">
        <button id="btn-cancel" type="button" class="btn btn-cancel mr-2"
            onclick="window.location.href='@Url.Action("Index","Reading")'">
            Cancelar
        </button>
        <button id="btn-submit" type="submit" class="btn btn-themecolor">Guardar</button>
    </div>
</form>