@model WebApp.Models.ReadingViewModel;

@{
    string? action = ViewData["Action"] as string;
    List<SelectListItem> types = ViewData["Types"] as List<SelectListItem> ?? new();
}

<form class="floating-labels" method="POST" action="@Url.Action(action,"Reading")" asp-antiforgery="true">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <div class="mb-3">
            <label for="Name">Nombre</label>
            <input class="form-control" id="Name" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="Date">Fecha</label>
            <input type="datetime-local" class="form-control" id="Date" asp-for="Date">
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="ReadingEnum">Tipo de lectura</label>
            <select class="form-control" id="ReadingEnum" asp-for="ReadingEnum">
                @foreach (SelectListItem item in types)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
            <span asp-validation-for="ReadingEnum" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="Text">Lectura</label>
            <textarea class="form-control" rows="15" id="Text" asp-for="Text"></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
    </div>

    <div class="d-flex justify-content-end buttonFooter">
        <button id="btn-cancel" type="button" class="btn btn-cancel mr-2"
            onclick="window.location.href='@Url.Action("Index","Reading")'">
            Cancelar
        </button>
        <button id="btn-submit" type="submit" class="btn btn-themecolor">Guardar</button>
    </div>
</form>