@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <div>
        <h3 class="index-title">Bienvenido a la configuración de la APP del Centro Santa María</h3>
    </div>
    <div class="container-fluid h-100">
        <div class="row align-items-center h-100">
            <div class="col-md-6 mb-3 mt-3">
                <a href="/Reading">
                    <div class="card card-readings background-tint">
                        <h3>Lecturas</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-3 mt-3">
                <a href="/DailyQuote">
                    <div class="card card-quotes background-tint">
                        <h3>Frases diarias</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-3 mt-3">
                <a href="/Content">
                    <div class="card card-contents background-tint">
                        <h3>Contenidos</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-3 mt-3">
                <a href="/Category">
                    <div class="card card-categories background-tint">
                        <h3>Categorías</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-3 mt-3">
                <a href="/User">
                    <div class="card card-users background-tint">
                        <h3>Usuarios</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<link href="~/css/views/home/index.css" rel="stylesheet" asp-append-version="true">