@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar sesión";
}

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card" style="padding:50px">
            <h1>@ViewData["Title"]</h1>
            <form id="account" method="post">
                <h4>Iniciar sesión con una cuenta existente</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Contraseña</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <p style="text-align:right">
                        <a id="forgot-password" asp-page="./ForgotPassword">Olvidé la contraseña</a>
                    </p>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        Recordarme
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-themecolor">Iniciar sesión</button>
                </div>
                <div>
                    <p style="text-align:center">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">¿No tienes una cuenta? Regístrate</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
