@model WebApp.Models.CategoryViewModel;

@{
    ViewData["Title"] = "Categoría";
    string? action = ViewData["Action"] as string;
}

<form class="floating-labels" method="POST" action="@Url.Action(action,"Category")" asp-antiforgery="true">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label for="Name">Nombre</label>
        <input class="form-control mb-3" id="Name" asp-for="Name">

        <label for="Order">Orden</label>
        <input type="number" class="form-control mb-3" id="Order" asp-for="Order">
    </div>

    @if (action == "Edit")
    {
        <div class="custom-control custom-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="activeSwitch" asp-for="Active">
            <label class="custom-control-label" for="activeSwitch">Activo</label>
        </div>
    }
    else
    {
        <input type="hidden" asp-for="Active" />
    }

    <div class="d-flex justify-content-end buttonFooter">
        <button id="btn-submit" type="submit" class="btn btn-themecolor" style="margin-right:10px">Guardar</button>
        <button id="btn-cancel" type="button" class="btn btn-cancel"
            onclick="window.location.href='@Url.Action("Index","Category")'">
            Cancelar
        </button>
    </div>
</form>