@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-end">
    <button id="btn-create" type="button" class="btn btn-themecolor" onclick="location.href='@Url.Action("Create", "Category")'">
        Nueva categoría
    </button>
</div>

<div class="text-center">
    <h1 class="display-4">Category</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
