html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #20aee3;
}

    a:hover,
    a:focus {
        text-decoration: none;
    }

    a.link {
        color: #455a64;
    }

        a.link:hover, a.link:focus {
            color: #20aee3;
        }

.img-responsive {
    width: 100%;
    height: auto;
    display: inline-block;
}

.img-rounded {
    border-radius: 4px;
}

html body .mdi:before,
html body .mdi-set {
    line-height: initial;
}

body {
    background: #fff;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    overflow-x: hidden;
    color: black;
    font-weight: 300;
    font-size: 14px;
}

/*******************
Headings
*******************/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

h1 {
    line-height: 40px;
    font-size: 36px;
}

h2 {
    line-height: 36px;
    font-size: 24px;
}

h3 {
    line-height: 30px;
    font-size: 21px;
}

h4 {
    line-height: 22px;
    font-size: 18px;
}

h5 {
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
}

h6 {
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
}

.display-5 {
    font-size: 3rem;
}

.display-6 {
    font-size: 36px;
}

.box {
    border-radius: 4px;
    padding: 10px;
}

html body .dl {
    display: inline-block;
}

html body .db {
    display: block;
}

.no-wrap td,
.no-wrap th {
    white-space: nowrap;
}

/*******************
Paddings
*******************/
html body .p-0 {
    padding: 0px;
}

html body .p-10 {
    padding: 10px;
}

html body .p-20 {
    padding: 20px;
}

html body .p-30 {
    padding: 30px;
}

html body .p-l-0 {
    padding-left: 0px;
}

html body .p-l-10 {
    padding-left: 10px;
}

html body .p-l-20 {
    padding-left: 20px;
}

html body .p-r-0 {
    padding-right: 0px;
}

html body .p-r-10 {
    padding-right: 10px;
}

html body .p-r-20 {
    padding-right: 20px;
}

html body .p-r-30 {
    padding-right: 30px;
}

html body .p-r-40 {
    padding-right: 40px;
}

html body .p-t-0 {
    padding-top: 0px;
}

html body .p-t-10 {
    padding-top: 10px;
}

html body .p-t-20 {
    padding-top: 20px;
}

html body .p-t-30 {
    padding-top: 30px;
}

html body .p-b-0 {
    padding-bottom: 0px;
}

html body .p-b-5 {
    padding-bottom: 5px;
}

html body .p-b-10 {
    padding-bottom: 10px;
}

html body .p-b-20 {
    padding-bottom: 20px;
}

html body .p-b-30 {
    padding-bottom: 30px;
}

html body .p-b-40 {
    padding-bottom: 40px;
}

/*******************
Margin
*******************/
html body .m-0 {
    margin: 0px;
}

html body .m-l-5 {
    margin-left: 5px;
}

html body .m-l-10 {
    margin-left: 10px;
}

html body .m-l-15 {
    margin-left: 15px;
}

html body .m-l-20 {
    margin-left: 20px;
}

html body .m-l-30 {
    margin-left: 30px;
}

html body .m-l-40 {
    margin-left: 40px;
}

html body .m-r-5 {
    margin-right: 5px;
}

html body .m-r-10 {
    margin-right: 10px;
}

html body .m-r-15 {
    margin-right: 15px;
}

html body .m-r-20 {
    margin-right: 20px;
}

html body .m-r-30 {
    margin-right: 30px;
}

html body .m-r-40 {
    margin-right: 40px;
}

html body .m-t-0 {
    margin-top: 0px;
}

html body .m-t-5 {
    margin-top: 5px;
}

html body .m-t-10 {
    margin-top: 10px;
}

html body .m-t-15 {
    margin-top: 15px;
}

html body .m-t-20 {
    margin-top: 20px;
}

html body .m-t-30 {
    margin-top: 30px;
}

html body .m-t-40 {
    margin-top: 40px;
}

html body .m-b-0 {
    margin-bottom: 0px;
}

html body .m-b-5 {
    margin-bottom: 5px;
}

html body .m-b-10 {
    margin-bottom: 10px;
}

html body .m-b-15 {
    margin-bottom: 15px;
}

html body .m-b-20 {
    margin-bottom: 20px;
}

html body .m-b-30 {
    margin-bottom: 30px;
}

html body .m-b-40 {
    margin-bottom: 40px;
}

/*******************
vertical alignment
*******************/
html body .vt {
    vertical-align: top;
}

html body .vm {
    vertical-align: middle;
}

html body .vb {
    vertical-align: bottom;
}

/*******************
Opacity
*******************/
.op-5 {
    opacity: 0.5;
}

.op-3 {
    opacity: 0.3;
}

/*******************
font weight
*******************/
html body .font-bold {
    font-weight: 700;
}

html body .font-normal {
    font-weight: normal;
}

html body .font-light {
    font-weight: 300;
}

html body .font-medium {
    font-weight: 500;
}

html body .font-16 {
    font-size: 16px;
}

html body .font-12 {
    font-size: 12px;
}

html body .font-14 {
    font-size: 14px;
}

html body .font-10 {
    font-size: 10px;
}

html body .font-18 {
    font-size: 18px;
}

html body .font-20 {
    font-size: 20px;
}

/*******************
Border
*******************/
html body .b-0 {
    border: none !important;
}

html body .b-r {
    border-right: 1px solid rgba(120, 130, 140, 0.13);
}

html body .b-l {
    border-left: 1px solid rgba(120, 130, 140, 0.13);
}

html body .b-b {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}

html body .b-t {
    border-top: 1px solid rgba(120, 130, 140, 0.13);
}

html body .b-all {
    border: 1px solid rgba(120, 130, 140, 0.13) !important;
}

/*******************
Text Colors
*******************/
.text-white {
    color: #ffffff !important;
}

.text-danger {
    color: #e5033d !important;
}

.text-muted {
    color: #bcc3d3 !important;
}

.text-warning {
    color: #ff9041 !important;
}

.text-success {
    color: #00D6DE !important;
}

.text-info {
    color: #20aee3 !important;
}

.text-inverse {
    color: #2f3d4a !important;
}

html body .text-blue {
    color: #02bec9;
}

html body .text-purple {
    color: #7460ee;
}

html body .text-primary {
    color: #3d00e5 !important;
}

html body .text-megna {
    color: #56c0d8;
}

html body .text-dark {
    color: black;
}

html body .text-themecolor {
    color: black;
}

/*******************
Background Colors
*******************/
.bg-primary {
    background-color: #3d00e5 !important;
}

.bg-success {
    background-color: #00D6DE !important;
}

.bg-info {
    background-color: #20aee3 !important;
}

.bg-warning {
    background-color: #ff9041 !important;
}

.bg-danger {
    background-color: #e5033d !important;
}

html body .bg-megna {
    background-color: #56c0d8;
}

html body .bg-theme {
    background-color: #20aee3;
}

html body .bg-inverse {
    background-color: #2f3d4a;
}

html body .bg-purple {
    background-color: #7460ee;
}

html body .bg-light-part {
    background-color: rgba(0, 0, 0, 0.02);
}

html body .bg-light-primary {
    background-color: #f1effd;
}

html body .bg-light-success {
    background-color: #e8fdeb;
}

html body .bg-light-info {
    background-color: #cfecfe;
}

html body .bg-light-extra {
    background-color: #ebf3f5;
}

html body .bg-light-warning {
    background-color: #fff8ec;
}

html body .bg-light-danger {
    background-color: #f9e7eb;
}

html body .bg-light-inverse {
    background-color: #f6f6f6;
}

html body .bg-light {
    background-color: #e9edf2;
}

html body .bg-white {
    background-color: #ffffff;
}

/*******************
Rounds
*******************/
.round {
    line-height: 48px;
    color: #ffffff;
    width: 50px;
    height: 50px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border-radius: 100%;
    background: #4BACCC;
}

    .round img {
        border-radius: 100%;
    }

.round-lg {
    line-height: 65px;
    width: 60px;
    height: 60px;
    font-size: 30px;
}

.round.round-info {
    background: #20aee3;
}

.round.round-warning {
    background: #ff9041;
}

.round.round-danger {
    background: #e5033d;
}

.round.round-success {
    background: #00D6DE;
}

.round.round-primary {
    background: #3d00e5;
}

/*******************
Labels
*******************/
.label {
    padding: 3px 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 75%;
}

.label-rounded {
    border-radius: 60px;
}

.label-custom {
    background-color: #56c0d8;
}

.label-success {
    background-color: #00D6DE;
}

.label-info {
    background-color: #20aee3;
}

.label-warning {
    background-color: #ff9041;
}

.label-danger {
    background-color: #e5033d;
}

.label-megna {
    background-color: #56c0d8;
}

.label-primary {
    background-color: #3d00e5;
}

.label-purple {
    background-color: #7460ee;
}

.label-red {
    background-color: #fb3a3a;
}

.label-inverse {
    background-color: #2f3d4a;
}

.label-default {
    background-color: #e9edf2;
}

.label-white {
    background-color: #ffffff;
}

.label-light-success {
    background-color: #e8fdeb;
    color: #00D6DE;
}

.label-light-info {
    background-color: #cfecfe;
    color: #20aee3;
}

.label-light-warning {
    background-color: #fff8ec;
    color: #ff9041;
}

.label-light-danger {
    background-color: #f9e7eb;
    color: #e5033d;
}

.label-light-megna {
    background-color: #e0f2f4;
    color: #56c0d8;
}

.label-light-primary {
    background-color: #f1effd;
    color: #3d00e5;
}

.label-light-inverse {
    background-color: #f6f6f6;
    color: #2f3d4a;
}

/*******************
Custom
*******************/
.buttonFooter {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.btn-cancel {
    background: #B14B4B;
    color: #ffffff;
    transition: 0.2s ease-in;
    margin-right: 1em;
}

.btn-submit {
    background: var(--success-color);
    color: #ffffff;
    transition: 0.2s ease-in;
}

.navbar-custom {
    background-color: #0266b4;
    color: #ffffff;
}

.navbar-brand {
    background: url('../images/logo.png') no-repeat;
    background-size: 40px 40px;
    height: 50px;
    margin: 5px;
    width: 50px;
}